<div class = "content">
  <h3>
<li id="<%= dom_id(todo_item) %>" class="todo-item row">
      <div class="small-10 medium-11 columns truncate todo-content" title="<%= todo_item.content %>">
        <%= link_to todo_item.content, edit_todo_list_todo_item_path(@todo_list, todo_item) %></h3>
        <% if todo_item.completed? %>
          <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"><%= link_to " Got It!", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch %></span>
            </button>
        <% else %>
        <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-minus-sign" aria-hidden="true">
          <%= link_to "Nope", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch %></span></button>
        <% end %>
        <button type="button" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-edit" aria-hidden="true">
        <%= link_to "Edit", edit_todo_list_todo_item_path(@todo_list, todo_item) %></span></button>
    </li>
    <br >
</div>