<div class = "content">
<li id="<%= dom_id(todo_item) %>" class="todo-item row">
      <div class="small-10 medium-11 columns truncate todo-content" title="<%= todo_item.content %>">
        <%= link_to todo_item.content, edit_todo_list_todo_item_path(@todo_list, todo_item) %>
        <% if todo_item.completed? %>
          <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"><%= link_to " Done", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch %></span>
            </button>
        <% else %>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true">
          <%= link_to " Not Done", complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch %></span></button>
        <% end %>
    </li>
    <br >
</div>