<%= form_for @contacts do |f| %>
<% if @contacts.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contacts.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% @contacts.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="small-12 columns">
    <%= f.label :firstname, "First Name" %><br>
    <%= f.text_field :firstname %>
  </div>
  </div>  

  <br />

  <div class="row">
    <div class="small-12 columns">
    <%= f.label :lastname, "Last Name" %><br>
    <%= f.text_field :lastname %>
  </div>
  </div>  

  <br />


  <div class="row">
    <div class="small-12 columns">
    <%= f.label :relationship, "Relationship" %><br>
    <%= f.text_field :relationship %>
  </div>
</div>

<br />
 
  <div class="row">
    <div class="small-12 columns">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
    </div>
  </div>  

  <br />


  <div class="row">
    <div class="small-12 columns">
    <%= f.label :phonenumber, "Phone Number" %><br>
    <%= f.telephone_field :phonenumber %>
  </div>
</div>  

  <br />
 <div class="row">
    <div class="small-12 columns"> 
  <%= f.submit "Add Contact", class: "btn btn-primary btn-default" %>
    </div>
</div>
    
 <% end %> 

